.header {
    text-align: center;
    font-size: 3ch;

}
#searchBox {
    width: 350px;
    margin-top: 20px;
    margin-left: 20px;
}

.card {
    width: 900px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}
.samll {
    width: 350px;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}
