
.header {
    text-align: center;
    font-size: 3ch;

}
#searchBox {
   
    margin-top: 20px;
    margin-left: 20px;
}

.card {
    background-color: grey;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}
.small {
    background-color: aqua;
    margin-top: 20px;
    margin-left: 20px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    display: inline-block;
}
